.btn {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.3rem;

    outline: none;
    border: 1px solid var(--very-Light-Gray);
    background-color: transparent;
    padding: .7rem 1rem;
    cursor: pointer;
    color: var(--very-Light-Gray);
    width: 100%;
}

.btn--dark{
    border: 1px solid var(--dark-Violet);
    color: var(--dark-Violet);
}


.btn--medium {
    width: 80%;
    max-width: 300px;
}