.LearnMore {
    position: relative;

    color: var(--very-Light-Gray);
    background-color: var(--dark-Violet);
    width: 80%;
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 6rem auto;

    overflow: hidden;
}

.decoration {
    position: absolute;
    top: 0; right: 0;
    z-index: 1;
}


.LearnMore__text {
    position: relative;
    z-index: 10;
    font-family: var(--heading-font);
    font-weight: 400;
    text-align: center;
    font-size: 2rem;
    margin: 0;
    margin-bottom: 1.5rem;
}