.Menu {
    position: fixed;
    z-index: 100;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 90vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    padding: 2rem;

    background-color: var(--very-Dark-Violet);
    background-repeat: no-repeat;
    background-position: bottom center;

    color: #fff;

    list-style: none;
}

.Menu__link { 
    margin-bottom: 2rem;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.3rem;
}

/* .Menu .active {
    display: flex;
} */