@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap');

:root {

    --min-width-mobile: 768px;

    --heading-font: 'DM Serif Display', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --body-font: 'Karla', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    --dark-Violet: hsl(256, 26%, 20%);
    --grayish-Blue: hsl(216, 30%, 68%);

    --very-Dark-Violet: hsl(270, 9%, 17%);
    --dark-Grayish-Violet: hsl(273, 4%, 51%);
    --very-Light-Gray: hsl(0, 0%, 98%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
}

body {
    height: 100%;
    font-family: var(--body-font);
    background-color: #fff;
}

img{
    vertical-align: middle;
}